.error-block {
  margin-top: 100px;
  padding: 10px;
  border: red solid 2px;
  border-radius: 5px;

  &__title {
    margin-bottom: 5px;
    font-size: 18px;
    color: red;
  }

  &__url {
    font-style: italic;
    color: #ccc;
  }

  &__message {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  &__body {
    margin-top: 5px;
  }
}