.video-list {
  margin-left: -51px;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 50px 0 0 54px;
    vertical-align: top;
    text-align: left;

    &.active .img-box {
      box-shadow: 2px 2px 22px rgba(102,175,233,1);
    }
  }

  .img-box {
    box-shadow: 2px 2px 22px rgba(0,0,0,.3);
    font-size: 0;
    cursor: pointer;

    &:hover {
      box-shadow: 2px 2px 22px rgba(102,175,233,1);
    }
  }

  .info {
    p { padding-top: 5px; }
  }
}