.player {

  .video-js {
    width: 100%;
    height: auto;
    padding-top: 56.25%;
  }

  .info {
    padding: 0 5%;
    p { padding-top: 5px; }
  }

  .title {
    margin: 10px 0 15px;
    color: #000;
    font-size: 24px;
  }
}