<video class="video-js vjs-big-play-centered" controls poster="/assets/images/<%- data.images.placeholder %>">
	<% for (var i = 0; i < data.streams.length; i++) { %>
	<source src="<%- data.streams[i].url %>" type="video/<%- data.streams[i].type %>" />
	<% } %>
	<p class="vjs-no-js">
		To view this video please enable JavaScript, and consider upgrading to a web browser that
		<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
	</p>
</video>
<div class="info">
	<p class="title"><%- data.title %> (<%- data.meta.releaseYear %>)</p>
	<% for (var i = 0; i < data.meta.directors.length; i++) { %>
	<p> Director: <%- data.meta.directors[i].name  %> </p>
	<p> Writers: <%- data.meta.directors[i].name  %> </p>
	<% } %>
</div>